// COLORS
$color-primary-blue: #134e5e;
$color-primary-green: #71b280;

$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-black: #000;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quaternary-light: #a379c0;
$color-quaternary-dark: #462161;

$color-quintic-light: #79a8b4;
$color-quintic-dark: #327b8f;

$color-grey-light-1: #f7f7f7;

// FONT
$default-font-size: 1.2rem;
$medium-font-size: 1rem;
