.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 25rem;
  position: relative;

  &__side {
    height: 25rem;

    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-quaternary-light,
          $color-quaternary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }

      &-4 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-5 {
        background-image: linear-gradient(
          to right bottom,
          $color-quintic-light,
          $color-quintic-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLE
  &__picture {
    background-size: cover;
    height: 12rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-quaternary-light,
          $color-quaternary-dark
        ),
        url(../../assets/img/charging-origin.png);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../../assets/img/explorer.png);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../../assets/img/browser.png);
    }

    &--4 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../../assets/img/tokenization.png);
    }

    &--5 {
      background-image: linear-gradient(
          to right bottom,
          $color-quintic-light,
          $color-quintic-dark
        ),
        url(../../assets/img/asset-logging.png);
    }
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 90%;
  }

  &__heading-span {
    padding: 0.2rem 2rem;
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-quaternary-light, 0.85),
        rgba($color-quaternary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }

    &--4 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--5 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-quintic-light, 0.85),
        rgba($color-quintic-dark, 0.85)
      );
    }
  }

  // BACK SIDE STYLE
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__app-box {
    color: $color-white;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__app-prefix {
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__app-name {
    font-size: 2rem;
    font-weight: 100;
  }
}
