.feature-box {
  background-color: rgba($color-white, 1);
  font-size: $medium-font-size;
  padding: 2rem;
  text-align: center;
  line-height: 1.7;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.2s;

  height: 28vh;

  &__icon {
    font-size: 6rem;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
