.section-about {
  background-color: $color-grey-light;
  padding: 15rem 0;
  margin-top: -5vh;
  background-color: rgb(241, 237, 237);
}

.section-features {
  padding: 12rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-blue, 0.9),
      rgba($color-primary-green, 0.9)
    ),
    url(../../assets/img/charging-origin.png);
  background-size: cover;
  background-size: 100% 100%;
  transform: skewY(-7deg);
  margin-top: -12.6rem;
  & > * {
    transform: skewY(7deg);
  }
}

.section-dapps {
  background-color: $color-grey-light;
  padding: 12rem 0 5rem 0;
  margin-top: -22.5vh;
}
