.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 7rem;
}

.paragrah-text {
  font-size: $medium-font-size;
  line-height: 1.7;
  padding: 0.8rem;
}

.btn--padding {
  padding: 0.8rem 1.5rem !important;
}
